
.page_my_images .image{float:right;text-align:right;padding-left:10px;}.node{direction:ltr;}*/











































































*/

*/


*/






















*/






































*/











*/
















*/




































*/
































*/





*/




*/




*/



*/





*/














*/

*/






























*/

*/




































*/

*/























































*/

*/





*/

*/



*/




















*/

*/








































*/







*/




*/









*/

html,body{direction:rtl;}#logo h1 a{text-indent:99999em;overflow:hidden;}ul.links li{float:right;}ul.links li.first{padding:0 0 0 0.5em;}ul li.collapsed{list-style-image:url(/sites/all/themes/blueprint/blueprint/images/icons/menu-collapsed-rtl.gif);}div.block.with-block-editing div.edit{left:0 !important;right:inherit !important;}.page_my_images .image{float:left;text-align:left;padding-right:10px;}.node{direction:rtl;}
@font-face{font-family:'Shalvata_OEMedium';src:url(/sites/all/themes/blueprint/blueprint/css/shalvata_oemedium-webfont.eot);src:local('Shalvata_OE'),local('ShalvataOEMedium'),url(/sites/all/themes/blueprint/blueprint/css/shalvata_oemedium-webfont.woff) format('woff'),url(/sites/all/themes/blueprint/blueprint/css/shalvata_oemedium-webfont.svg#webfontCD4eZO2L) format('svg');font-weight:normal;font-style:normal;}@font-face{font-family:'Shalvata_OELight';src:url(/sites/all/themes/blueprint/blueprint/css/shalvata_oelight-webfont.eot);src:local('Shalvata_OE'),local('ShalvataOELight'),url(/sites/all/themes/blueprint/blueprint/css/shalvata_oelight-webfont.woff) format('woff'),url(/sites/all/themes/blueprint/blueprint/css/shalvata_oelight-webfont.svg#webfontrTes8Yki) format('svg');font-weight:normal;font-style:normal;}body,h1,h2,ul{padding:0;margin:0;}body{font-family:"Arial",Sans-serif;direction:rtl;font-size:12px;margin:0;padding:0;background:#ffffff;color:#808285;}.col-center p,.col-center li,.col-center span{font-family:"Arial",Sans-serif !important;font-size:12px !important;color:#808285 !important;}body.i18n-ar div.node{font-size:14px;}h1,h2{color:#58585a;font-family:"Shalvata_OEMedium",arial,sans-serif;}h1{font-size:18px;font-weight:normal;}h2{font-size:13px;}h3{font-family:"Shalvata_OELight",arial,sans-serif;font-weight:normal;}a{color:#58585a;text-decoration:none;}ol{font-size:12px;font-weight:normal;padding:0;}ol li{margin-bottom:12px;}ol ol{margin-top:10px;}ol li p{color:#BCBDC0;font-weight:normal;font-size:13px;}div.container{margin:auto;width:895px;}div.container2{margin-top:34px;#margin-top:30px;}div.col-center{width:721px;float:left;margin-right:9px;}.node h1{color:#58585a;font-size:16px;font-family:"Shalvata_OELight";margin-bottom:6px;margin-top:-4px;}.node .content{overflow:hidden;}table{border-collapse:separate;}#header{height:456px;position:relative;}#block-block-4{height:416px;background:#c9cacd;color:#c9cacd;clear:both;}#block-block-5{width:413px;margin-top:-387px;}#block-block-5 img{position:relative;z-index:10;margin-right:-1px;width:400px;background:rgba(256,256,256,0.8);padding:10px;}#block-block-5 .logo_op{opacity:0.7;filter:alpha(opacity=70);position:relative;width:200px;height:158px;margin-top:-158px;}#block-block-5 img+img{}#block-block-22{color:#D93C20;font-family:"Shalvata_OEMedium",arial,sans-serif;font-size:28px;line-height:1.03;letter-spacing:2px;position:absolute;right:10px;top:140px;margin-top:25px;z-index:10;}.museum_container #block-block-22{right:10px;top:140px;width:500px;font-size:28px;line-height:30px;}p{margin:0;}#block-nice_menus-1{width:100%;margin-top:-65px;background-color:#D93D20;position:relative;}#block-nice_menus-1 ul#nice-menu-1{padding-top:8px;padding-bottom:7px;#padding-bottom:3px;height:18px;margin:auto;width:895px;line-height:13px;}#block-nice_menus-1 ul#nice-menu-1 li{border:none;background:none;font-family:"Shalvata_OELight",arial,sans-serif;}#block-nice_menus-1 ul#nice-menu-1 li.last{float:left;}#block-nice_menus-1 ul#nice-menu-1 li li.last{float:right;}#block-nice_menus-1 ul#nice-menu-1 li a,#block-nice_menus-1 ul#nice-menu-1 li span{color:#ffffff;padding:0 12px;text-decoration:none;border-left:1px solid #ffffff;font-size:18px;}#block-nice_menus-1 ul#nice-menu-1 li.first a{padding-right:0px;margin-right:-2px;#margin-right:0px;}#block-nice_menus-1 ul#nice-menu-1 li ul li.first a{padding-right:19px;margin-right:0px;}#block-nice_menus-1 ul#nice-menu-1 li.last a{padding-left:0;padding-right:0px;border-left:none;}#block-nice_menus-1 ul#nice-menu-1 li li.last a{padding-right:20px;}#block-nice_menus-1 ul#nice-menu-1 li span{cursor:default;display:block;}#block-nice_menus-1 ul#nice-menu-1 li.menuparent:hover ul li a,#block-nice_menus-1 ul#nice-menu-1 li.menuparent:hover ul li span{color:#58585A;}#block-nice_menus-1 ul#nice-menu-1 li:hover a,#block-nice_menus-1 ul#nice-menu-1 li.active-trail a,#block-nice_menus-1 ul#nice-menu-1 li:hover span,#block-nice_menus-1 ul#nice-menu-1 li.menuparent ul li:hover a,#block-nice_menus-1 ul#nice-menu-1 li.menuparent ul li:hover span{color:#72afaf;}#block-nice_menus-1 ul#nice-menu-1 li.active-trail li.active-trail a{color:#72afaf;}#block-nice_menus-1 ul#nice-menu-1 li.active-trail li a{color:#ffffff;}#block-nice_menus-1 ul#nice-menu-1 li.first  a{border-right:none;}#block-nice_menus-1 ul#nice-menu-1 li ul{width:14.5em;background:#ffffff;opacity:0.9;filter:alpha(opacity=90);padding-left:20px;top:0;margin-top:20px;#margin-top:21px;}#block-nice_menus-1 ul#nice-menu-1 li.menu-path-nolink-380 ul{width:16em;}#block-nice_menus-1 ul#nice-menu-1 li ul li{padding-top:10px;line-height:0.9em;font-size:16px;}#block-nice_menus-1 ul#nice-menu-1 li ul li.last{padding-bottom:10px;}#block-nice_menus-1 ul#nice-menu-1 li ul li a{color:#58585A;font-size:16px;border:none;width:9.5em;}#block-menu-menu-firstmenu{width:960px;margin-top:170px;margin-right:-34px;}#block-menu-menu-topmenu ul.menu li.leaf{display:inline;border-left:1px solid #c9cacb;line-height:10px;#line-height:12px;float:right;}#block-menu-menu-firstmenu ul.menu li.leaf{display:inline;border-left:1px solid white;}#block-menu-menu-firstmenu div.content ul.menu li.leaf{margin-top:10px;}#block-menu-menu-topmenu div.content ul.menu li.last{border-left:none;}#block-menu-menu-topmenu div.content ul.menu li.first{}#block-menu-menu-firstmenu div.content ul.menu{padding-top:10px;padding-bottom:10px;background-color:rgb(217,61,32);margin:0px;}#block-menu-menu-firstmenu ul.menu li.last{border-left:none;}#block-menu-menu-firstmenu ul.menu li.first{margin-right:0;}ul.menu li.leaf a{text-decoration:none;}#block-menu-menu-firstmenu div.content ul.menu li.leaf a{color:white;padding:10px 15px 10px 15px;}#block-menu-menu-topmenu{margin-bottom:13px;float:left;width:auto;#width:570px;}#block-menu-menu-footermenu div.content ul.menu li.leaf a{color:#808285;padding-left:17px;padding-right:17px;font-size:12px;}#block-menu-menu-footermenu div.content ul.menu li.leaf.last a{padding-left:0px;#padding-left:17px;#padding-right:0;}#block-menu-menu-topmenu div.content ul.menu li.first a{padding-right:0px;color:#808285;}#block-menu-menu-topmenu div.content ul.menu li.last a{padding-left:0px;}#block-menu-menu-topmenu div.content ul.menu{margin-top:17px;margin-bottom:14px;}#block-menu-menu-topmenu a{color:#808285;padding:0;font-size:12px;}#block-menu-menu-topmenu  LI.leaf{padding-left:14px;padding-right:14px;padding-top:0;padding-bottom:0;margin:0;}#block-menu-menu-topmenu  LI.leaf.first{padding-right:0;}#block-menu-menu-topmenu  ul{padding:0;}#block-locale-0,#block-block-25{float:left;width:auto;#width:230px;margin-bottom:13px;}#block-locale-0 ul,#block-block-25 ul{margin-top:17px;padding:0;}#block-locale-0 ul li,#block-block-25 ul li{list-style-type:none;list-style-image:none;display:inline;border-right:1px solid #BCBEBE;padding-left:18px;padding-right:18px;margin:0;float:right;line-height:10px;#line-height:12px;}#block-locale-0 ul li.ar,#block-locale-0 ul li.en{padding-left:4px;display:none;}#block-locale-0 ul li+li,#block-block-25 ul li+li,#block-block-25 ul li.en{padding-left:4px;}#block-locale-0 ul li a,#block-block-25 ul li a{font-size:12px;color:#808285;text-decoration:none;}#block-locale-0 ul li.en a,#block-block-25 ul li.en a{font-size:11px;}#block-locale-0 ul li.ar a,#block-block-25 ul li.ar a{font-size:13px;}#block-block-4 img{width:992px;height:447px;margin-right:20px;}#edit-1{width:120px;height:15px;}#finder-form-1 label{display:inline;}#edit-3-wrapper{display:inline;width:15px;}#edit-3{width:126px;}div.finder-view-wrapper label,#edit-3-wrapper label{display:none;}div.finder-3 select{width:147px;}#block-finder-finder_5{height:16px;width:161px;#width:161px;margin:auto;border-right:1px dashed #DADCDD;border-left:1px dashed #DADCDD;border-top:1px dashed #DADCDD;padding-top:14px;}#block-finder-finder_5 div input.form-text{width:96px;width:95px\9;#width:95px;border:1px solid #ededee;height:14px;#height:15px;color:#bcbdc0;font-size:11px;#margin-right:13px;#float:right;}#block-finder-finder_5 div.form-item{float:right;margin:0 14px 0 0;#margin:0 0 0 0;width:98px;#width:112px;}#block-finder-finder_5 input.form-submit,#block-finder-finder_4 input.form-submit{background-color:#72afaf;width:32px;#width:auto;padding:2px 0 0;padding:3px 0 1px \9;#padding:2px 0 0;margin:0;margin-right:3px;float:right;color:white;border:none;font-size:13px;cursor:pointer;/*\_*/}/*\_*/
/*\_*/


#block-finder-finder_4 input.form-submit{margin-top:6px;margin-right:116px;}#block-finder-finder_4{width:161px;margin:auto;border-right:1px dashed #DADCDD;border-left:1px dashed #DADCDD;border-bottom:1px dashed #DADCDD;height:122px;height:124px\9;padding-top:8px;padding-top:6px\9;}#block-finder-finder_4 h3{background-color:#d93c20;color:#ffffff;width:127px;#width:125px;padding-bottom:1px;padding-right:6px;padding-top:2px;margin:0;margin:0 14px;font-size:14px;}#block-finder-finder_4 .form-item{margin-top:0px;margin-bottom:0px;margin-right:14px;margin-left:14px;#float:right;}#block-finder-finder_4 .form-item#edit-10-1-wrapper{margin-top:4px;}#block-finder-finder_4 .form-select{position:relative;top:8px;#top:4px;color:#bcbdc0;width:134px;/*\_*/
  min-width:134px;height:15px;opacity:0;font-size:12px;font-family:Arial;filter:alpha(opacity=0);}#block-finder-finder_4 .form-item div{background:url(/sites/all/themes/blueprint/blueprint/images/search_cetch.png) 4px center no-repeat;border:1px solid #ededee;width:128px;font-size:12px;padding-right:4px;height:17px;margin-top:-10px;#margin-top:-11px;#margin-right:-2px;overflow:hidden;}body.node-type-museum #block-finder-finder_4{width:894px;height:40px;border:1px dashed #DADCDD;margin-top:0px;}body.node-type-museum div.col-right{width:100%;}body.node-type-museum #block-finder-finder_4 .form-item div{background:url(/sites/all/themes/blueprint/blueprint/images/search_cetch.png) 4px center no-repeat;border:1px solid #bcbdc0;width:194px;width:192px\9;margin-right:1px\9;padding:0px 4px 0 0;height:17px;margin-top:-13px\9;margin-top:-15px;}body.node-type-museum #block-finder-finder_4 .form-item{float:right;width:198px;margin-top:4px;margin-right:15px;}body.node-type-museum #block-finder-finder_4 h3{margin-right:14px;float:right;margin-top:6px;width:129px;height:16px;}body.node-type-museum #block-finder-finder_4 .form-select{width:200px;top:5px;top:5px\9;#top:5px;height:17px;}body.node-type-museum #block-finder-finder_4 input.form-submit{width:33px;height:19px;margin-left:14px;margin-top:6px;margin-right:0;}#block-simplenews-55{clear:both;height:118px;border-bottom:1px dashed #DADCDD;border-right:1px dashed #DADCDD;border-left:1px dashed #DADCDD;width:161px;margin:auto;}#block-simplenews-55 .content{padding-top:14px;margin-right:14px;}#block-simplenews-55 p{background-color:rgb(217,61,32);color:white;width:126px;#width:132px;width:126px\9;margin-bottom:9px;font-family:"Shalvata_OEMedium",arial,sans-serif;padding-bottom:1px;padding-right:6px;padding-top:2px;font-size:14px;}#block-simplenews-55 input[type="text"]{width:126px;#width:125px;width:125px\9;/*\_*/
  border:1px solid #EAEBEC;color:#bcbdc0;font-size:12px;padding-right:4px;padding-bottom:2px;font-family:arial;margin:0;}#block-simplenews-55 label{display:none;}#block-simplenews-55 input[type="submit"]{width:52px;color:#ffffff;background-color:#72afaf;float:right;margin-right:80px;border:none;font-size:13px;margin-top:6px;cursor:pointer;padding:0;padding-top:1px;}#block-simplenews-55 .form-item{margin-bottom:0px;margin-top:5px;#margin-top:3px;}#block-simplenews-55 .form-radios{display:none;}#block-views-union_news-block_1{background:none repeat scroll 0 0 #F2F1EF;float:left;height:198px;margin-top:11px;width:351px;overflow-y:hidden;}#block-views-museum_news-block_2{background:none repeat scroll 0 0 #F2F1EF;float:right;height:198px;margin-top:11px;width:351px;}body.front #block-views-museum_news-block_2,body.front #block-views-union_news-block_1{height:205px;overflow:hidden;}#block-views-union_news-block_1 .views-row .views-field-title a,#block-views-museum_news-block_2 .views-row .views-field-title a{text-decoration:none;color:#58585a;font-size:12px;font-weight:bold;}#block-views-union_news-block_1 .views-row .views-field-body,#block-views-museum_news-block_2 .views-row .views-field-body{font-size:12px;width:322px;overflow-x:hidden;line-height:1.5em;}#block-views-union_news-block_1 .views-row .views-field-body{}#block-views-union_news-block_1 h3,#block-views-museum_news-block_2 h3{color:#58585a;margin-top:8px;padding-right:14px;font-size:16px;}#block-views-union_news-block_1 .content,#block-views-museum_news-block_2 .content{padding-right:14px;padding-left:14px;}#block-views-union_news-block_1 .views-row{height:70px;#height:70px;margin-top:4px;overflow-y:hidden;}#block-views-museum_news-block_2 .views-field-field-museum-logo-fid{float:right;width:66px;height:60px;}#block-views-museum_news-block_2 .views-field-title,#block-views-museum_news-block_2 .views-field-body{float:right;}#block-views-museum_news-block_2 .views-field-body{height:52px;overflow-y:hidden;}#block-views-museum_news-block_2 .views-row{min-height:60px;margin-top:15px;#margin-top:10px;}#block-views-Exhibitions-block_1,#block-views-Events-block_1{height:192px;background-color:rgb(242,241,239);width:721px;}#block-views-Events-block_1{margin-top:11px;}#block-views-Exhibitions-block_1 a,#block-views-Events-block_1 a{text-decoration:none;font-weight:bold;color:black;}#block-views-Exhibitions-block_1 img,#block-views-Events-block_1 img{}#block-views-Exhibitions-block_1 h3,#block-views-Events-block_1 h3{margin:7px 0px 0px;width:100px;float:right;color:#58585a;padding-right:12px;padding-left:11px;font-size:16px;}#block-views-Events-block_1 .views-field-title,#block-views-Exhibitions-block_1 .views-field-title{max-height:15px;overflow:hidden;}#block-views-Exhibitions-block_1 .content,#block-views-Events-block_1 .content{padding-right:12px;padding-left:11px;}#block-views-Events-block_1 div.views-row,#block-views-Exhibitions-block_1 div.views-row{float:right;width:156px;margin:0px 23px 0px 0px;}#block-views-Events-block_1 div.views-row .views-field-field-image-ev-fid,#block-views-Exhibitions-block_1 div.views-row .views-field-field-image-ex-fid{margin-top:3px;}#block-views-Events-block_1 div.views-row-1,#block-views-Exhibitions-block_1 div.views-row-1{margin-right:0px;}#block-views-Exhibitions-block_1 .view-content .views-row .views-field-title span a,#block-views-Events-block_1 .view-content .views-row .views-field-title span a{color:#58585a;font-size:12px;font-weight:bold;}#block-views-Exhibitions-block_1 .view-content .views-row .views-field-field-sub-ex-value,#block-views-Events-block_1 .view-content .views-row .views-field-field-sub-ev-value,#block-views-Events-block_1 .view-content .views-row .views-field-field-museum-nid,#block-views-Exhibitions-block_1 .view-content .views-row .views-field-field-museum-nid{height:17px;overflow-y:hidden;font-size:12px;color:#BCBDC0;}#block-views-Events-block_1 .view-content .views-row .views-field-field-museum-nid a,#block-views-Exhibitions-block_1 .view-content .views-row .views-field-field-museum-nid a{font-weight:normal;}#block-views-Events-block_1 .view-content .views-row .views-field-field-museum-nid a{color:#BCBDC0;}div.more-link{float:left;width:24px;height:20px;}#block-views-Exhibitions-block_1 div.more-link a,#block-views-Events-block_1 div.more-link a{color:#d93d20;}#block-views-Exhibitions-block_1 .view-content .views-row .views-field-field-sub-ex-value span,#block-views-Exhibitions-block_1 .view-content .views-row .views-field-field-museum-nid a{color:#BCBDC0;}#block-views-Exhibitions-block_1 div.view-content,#block-views-Events-block_1 div.view-content{clear:both;float:right;#float:none;margin-top:6px;}#block-views-Exhibitions-block_1 .item-list ul.pager,#block-views-Events-block_1 .item-list ul.pager{clear:none;float:left;margin-top:9px;padding:0;text-align:left;width:50px;}#block-views-Exhibitions-block_1 .item-list ul.pager li,#block-views-Events-block_1 .item-list ul.pager li{padding:0;margin:0;}#block-views-Exhibitions-block_1 .item-list ul li.pager-next a,#block-views-Events-block_1 .item-list ul li.pager-next a{padding-left:0;padding-right:0;}#block-views-Exhibitions-block_1 .item-list ul.pager li.pager-current,#block-views-Events-block_1 .item-list ul.pager li.pager-current{display:none;}#block-views-Exhibitions-block_1 li.pager-previous,#block-views-Events-block_1 li.pager-previous{float:right;}#block-views-Exhibitions-block_1 .item-list ul.pager li.pager-next,#block-views-Events-block_1 .item-list ul.pager li.pager-next{float:left;width:19px;}#block-views-Exhibitions-block_1 li.pager-previous a,#block-views-Events-block_1 li.pager-previous a{float:left;text-decoration:none;width:19px;padding:0;color:transparent;}#block-views-Exhibitions-block_1 .item-list ul.pager li.pager-next a,#block-views-Events-block_1 .item-list ul.pager li.pager-next a{float:left;text-decoration:none;width:19px;color:transparent;}#block-views-Exhibitions-block_1  .item-list ul.pager li.pager-next,#block-views-Exhibitions-block_1  .item-list ul.pager li.pager-previous,#block-views-Events-block_1  .item-list ul.pager li.pager-next,#block-views-Events-block_1  .item-list ul.pager li.pager-previous{width:19px;}#block-views-Exhibitions-block_1 .item-list ul.pager li.pager-next.passive,#block-views-Events-block_1 .item-list ul.pager li.pager-next.passive,#block-views-Exhibitions-block_3 .item-list ul.pager li.pager-next.passive,#block-Events-block_3 .item-list ul.pager li.pager-next.passive{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev_disabled.png) no-repeat 0px -1px;width:19px;}#block-views-Exhibitions-block_1 .item-list ul.pager li.pager-previous.passive,#block-views-Events-block_1  .item-list ul.pager li.pager-previous.passive,#block-views-Exhibitions-block_3 .item-list ul.pager li.pager-previous.passive,#block-Events-block_3  .item-list ul.pager li.pager-previous.passive{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_next_disabled.png) no-repeat;width:19px;padding:0;margin:0;}#block-views-Exhibitions-block_3 .item-list ul.pager li.pager-previous.passive,#block-Events-block_3  .item-list ul.pager li.pager-previous.passive{float:right;}#block-views-Exhibitions-block_3 .item-list ul.pager li.pager-next.passive,#block-Events-block_3 .item-list ul.pager li.pager-next.passive{float:left;}#footer{clear:both;margin-top:12px;}#footer.top_b{border-top:1px dashed #DADCDD;#border-top:none;float:left;#float:none;margin-top:-1px;width:721px;#width:100%;/*\_*/
	/*\_*/}#block-menu-menu-footermenu{float:left;#width:580px;font-size:small;padding-bottom:12px;}#footer.top_b #block-menu-menu-footermenu{#border-top:1px dashed #DADCDD;}#block-menu-menu-footermenu ul{text-align:left;padding-left:0;padding-right:0;margin-top:15px;}#block-block-3{background-color:#F2F1EF;clear:both;height:176px;margin:auto;width:721px;}#block-menu-menu-footermenu ul li{display:inline;list-style-image:none;list-style-type:none;border-right:1px solid #c9cacb;margin:0 !important;padding:0!important;}#block-menu-menu-footermenu ul li:first-child{border-right:none;}#block-menu-menu-footermenu ul.menu li{margin:0;float:right;line-height:10px;#line-height:12px;}#block-menu-menu-footermenu ul.menu li.last{margin-left:2px;}#block-block-8{border-bottom:1px dashed #DADCDD;border-right:1px dashed #DADCDD;border-left:1px dashed #DADCDD;margin:auto;clear:both;width:161px;padding-top:13px;padding-bottom:12px;margin:auto;}#block-block-8 p{margin-right:auto;margin-left:auto;width:132px;}#block-block-8 h3{background-color:#D93C20;color:#FFFFFF;padding-top:2px;padding-bottom:1px;margin:0 13px 12px 0px;padding-right:6px;width:127px;}div.col-right{float:right;width:164px;clear:both;}#node-1{display:none;}.col-center .breadcrumb{padding-bottom:0px;}.museum fieldset legend,.museum .title_inf{background-color:#D93C20;color:#FFFFFF;font-size:14px;line-height:20px;padding-right:5px;width:129px;font-family:"Shalvata_OELight",arial,sans-serif;}.not-front .node.museum{background-color:transparent;padding:10px 0 0;line-height:1.3em;}.museum .content{border:1px dashed #DADCDD;float:right;width:162px;}.museum .group-about-museum{border:none;padding:0px 0px 11px 0px;margin:auto;margin-top:14px;}.museum fieldset legend,.museum .group-about-museum .field-field-about-image,.museum .group-about-museum .field-field-about-text{margin-right:14px;}.museum fieldset legend{#margin-right:8px;}.museum .group-about-museum .field-field-about-image{padding-top:14px;}.museum .group-about-museum .field-field-about-text{margin-top:14px;margin-bottom:12px;width:133px;height:250px;}.museum .group-about-museum .field-field-museum-map{padding-top:11px;border-top:1px dashed #DADCDD;text-align:center;}.group-visitors-info .field-type-text{background-position:right;padding-right:20px;}.field-field-activity-hours{background:url(/sites/all/themes/blueprint/blueprint/images/icon1.png) no-repeat;}.field-field-museum-site{background:url(/sites/all/themes/blueprint/blueprint/images/icon2.png) no-repeat;}.field-field-museum-phone{background:url(/sites/all/themes/blueprint/blueprint/images/icon3.png) no-repeat;}.field-field-fax{background:url(/sites/all/themes/blueprint/blueprint/images/icon4.png) no-repeat;}.field-field-address{background:url(/sites/all/themes/blueprint/blueprint/images/icon5.png) no-repeat;}.field-field-museum-mail{background:url(/sites/all/themes/blueprint/blueprint/images/icon6.png) no-repeat;}.field-field-public-transportation{background:url(/sites/all/themes/blueprint/blueprint/images/icon7.png) no-repeat;}.field-field-parking{background:url(/sites/all/themes/blueprint/blueprint/images/icon8.png) no-repeat;}.field-field-disabled-access{background:url(/sites/all/themes/blueprint/blueprint/images/icon9.png) no-repeat;}.field-field-restaurant{background:url(/sites/all/themes/blueprint/blueprint/images/icon10.png) no-repeat;}.form-submit{font-family:"Shalvata_OELight",arial,sans-serif;}#block-views-museum_header-block_2,#museum_info_event_page{clear:both;}#block-views-museum_header-block_1,#museum_info_event_page{clear:both;height:250px;left:20px;position:absolute;top:40px;width:250px;}#museum_info_event_page{top:0;}div[id*='block-views-museum_header-block_'] .content{position:relative;}div[id*='block-views-museum_header-block_'] .bottom{}div[id*='block-views-museum_header-block_'] .views-field-field-museum-logo-fid,div[id*='block-views-museum_header-block_'] .views-field-field-museum-name-value,div[id*='block-views-museum_header-block_'] .views-field-field-museum-name-second-row-value,div[id*='block-views-museum_header-block_'] .views-field-field-museum-site-value{#width:210px;padding-right:20px;padding-left:20px;background-color:#ffffff;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-name-second-row-value{font-size:20px;height:45px;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-logo-fid{padding-top:20px;background-color:#ffffff;min-height:100px;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-logo-fid span{border-bottom:1px dashed #585858;float:right;width:210px;padding-bottom:10px;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-name-value{color:#585858;font-size:20px;height:25px;padding-top:10px;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-site-value a{font-size:15px;font-family:"Shalvata_OELight",arial,sans-serif;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-site-value a div{display:inline;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-site-value img{padding-right:116px;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-site-value{height:24px;background-color:#ffffff;}div[id*='block-views-museum_header-block_'] .views-field-field-museum-site-value span{float:right;margin-top:5px;#margin-top:2px;}div[id*='block-views-museum_header-block_'] .view-museum-header{filter:alpha(opacity=80);opacity:0.8;#position:absolute;}.views-field-field-museum-name-second-row-value{color:#585858;font-size:17px;}.views-field-field-museum-site-value{margin-top:5px;#padding-top:5px;}.visit_information{float:right;width:162px;height:393px;border:1px dashed #DADCDD;margin-right:10px;}.all_text_inf{border-top:1px dashed #DADCDD;margin:auto;width:160px;}.title_inf{margin:14px auto auto;}.visit_information table{width:153px;width:154px\9;margin:15px 12px 10px;border-collapse:separate;}.visit_information table tr{height:20px;}.visit_information table td{text-align:center;width:20%;padding:0px;}.visit_information table td img{cursor:pointer;float:right;}.img_inf_in{color:#72afaf;margin-top:20px;}.inf_details_title{margin-right:8px;#margin-right:0px;#margin-left:8px;}.text_inf{margin-right:13px;margin-top:20px;margin-left:13px;}.inf_details{margin-top:12px;word-wrap:break-word;}.inf_details a{color:#808285;}#extra_info{margin-top:15px;padding:15px 13px;border-top:1px dashed #DADCDD;}.museum .item-list .pager{clear:none;}#block-views-Exhibitions-block_3,#block-Events-block_3{background-color:#F5F4F3;float:left;width:540px;height:192px;}#block-Events-block_3.exeb_there{margin-top:11px;}.museum_container .col-center{width:100%;margin:0;}.museum h1{display:none;}#block-views-Exhibitions-block_3 .views-row,#block-Events-block_3 .views-row{width:156px;float:right;}#block-views-Exhibitions-block_3 .item-list ul.pager,#block-Events-block_3 .item-list ul.pager{clear:none;float:left;margin-top:7px;padding:0;text-align:left;width:50px;margin-left:10px;}#block-views-Exhibitions-block_3 .item-list ul.pager li.pager-current,#block-Events-block_3 .item-list ul.pager li.pager-current{display:none;}#block-views-Exhibitions-block_3 .item-list ul.pager li,#block-Events-block_3 .item-list ul.pager li{padding:0;margin:0;background:none;}#block-views-Exhibitions-block_3 .item-list ul.pager li.last,#block-Events-block_3 .item-list ul.pager li.last{margin-right:5px;}#block-views-Exhibitions-block_3 .item-list ul.pager li a,#block-Events-block_3 .item-list ul.pager li a{padding:0;margin:0;}#block-views-Exhibitions-block_3 h3,#block-Events-block_3 h3{margin-top:9px;margin-bottom:9px;float:right;color:#58585A;font-size:16px;}#block-views-Exhibitions-block_3 .view-content,#block-Events-block_3  .view-content{clear:both;}#block-views-Exhibitions-block_3 .views-row,#block-Events-block_3 .views-row{margin-right:22px;font-size:12px;}#block-views-Exhibitions-block_3 .views-row-1,#block-Events-block_3 .views-row-1,#block-views-Exhibitions-block_3  h3,#block-Events-block_3  h3{margin-right:12px;}#block-views-Exhibitions-block_3 .views-field-title,#block-Events-block_3 .views-field-title{color:#58585A;}#block-views-Exhibitions-block_3 .views-field-field-sub-ex-value,#block-Events-block_3 .views-field-field-sub-ev-value{height:14px;}#block-views-Exhibitions-block_3 .views-field-field-ex-begin-date-value,#block-Events-block_3 .views-field-field-hour-value{height:14px;float:right;margin-top:4px;margin-left:4px;}#block-Events-block_3 .views-field-field-hour-value{float:none;clear:both;}#block-views-Exhibitions-block_3 .views-field-field-image-ex-fid,#block-Events-block_3 .views-field-field-image-ev-fid{margin-top:7px;float:right;}#block-views-Exhibitions-block_3 .views-field-field-ex-end-date-value,#block-Events-block_3 .views-field-field-ev-date-value{float:right;width:auto;margin-top:4px;}#node-16{padding-top:10px;padding-bottom:7px;}#block-block-10{background-color:#f5f4f3;padding-bottom:20px;margin-top:-4px;}#regions-table{width:722px;margin:auto;}#regions-table tbody{border:none;}#regions-table tr{height:50px;}#regions-table td{text-align:center;}#regions-table tr:first-child td div{background-color:#ffffff;width:155px;margin:auto;padding-top:5px;padding-bottom:7px;}.not-front .node{background:none repeat scroll 0 0 #F5F4F3;padding:12px 15px 15px 17px;line-height:1.53em;}#node-15{line-height:1.3em;}.not-front #node-13{padding:0 0 14px;margin-top:10px;#height:346px;#padding-bottom:0;}#node-13 .content h2{font-size:16px;font-family:"Shalvata_OELight";font-weight:normal;margin-top:-2px;}#webform-client-form-13 > div{background:none repeat scroll 0 0 white;float:left;min-height:297px;margin-left:14px;padding-top:8px;width:413px;}#webform-client-form-13 .webform-component{margin-right:13px;color:#58585A;}#webform-client-form-13 .form-item{margin-top:5px;margin-bottom:0;height:21px;}#webform-client-form-13  label{display:inline;font-weight:normal;width:auto;float:right;margin-right:0;display:block;}#webform-client-form-13 #webform-component-content{height:96px;}.webform-container-inline div,.webform-container-inline div.form-item{display:block;}#webform-client-form-13 .form-text,#webform-client-form-13 textarea{height:16px;width:272px;border:1px dashed #DADCDD;margin-left:55px;float:left;color:#BCBDC0;}#webform-client-form-13 .field-prefix,#webform-client-form-13 #edit-submitted-content-wrapper label,#webform-client-form-13 #edit-submitted-email-wrapper label{width:auto;float:right;}.not-front #node-13 #webform-client-form-13 textarea{height:96px;}#page-13  .col-center{background-color:#F5F4F3;}.not-front .col-center #node-13 p{width:247px;margin-top:3px;}#node-13 form{margin-top:9px;position:absolute;top:0;left:0;}#block-block-7 p{background:none repeat scroll 0 0 #d93c20;height:17px;padding-right:7px;font-family:"Shalvata_OELight",arial,sans-serif;font-size:14px;padding-top:2px;}#block-block-7{width:160px;border:1px dashed #DADCDD;}#block-block-7 .content{background:none repeat scroll 0 0 white;padding:12px;color:#ffffff;}.not-front #node-13 #webform-client-form-13 #edit-submit{background:none repeat scroll 0 0 #72AFAF;border:medium none;color:white;float:left;font-size:13px;clear:both;margin-left:12.5px;margin-top:-18px;margin-top:-16px\9;#margin-top:-9px;padding:1px 0 0;text-align:center;width:30px;cursor:pointer;}#node-13  >h1{display:none;}#node-13 .content{padding-right:14px;position:relative;height:313px;}#block-views-Exhibitions-block_2,#block-views-Events-block_2{width:335px;background-color:#f5f4f3;float:right;padding-bottom:24px;height:443px;}#block-views-Exhibitions-block_2{}#block-views-Events-block_2{padding-right:18px;}#block-views-Events-block_2 h3,#block-views-Exhibitions-block_2 h3{color:#58585a;margin-top:-3px;margin-bottom:4px;font-size:16px;}#block-views-Events-block_2 .views-field-title span a,#block-views-Exhibitions-block_2 .views-field-title span a{color:#58585a;text-decoration:none;font-weight:bold;}#node-15 .views-field-field-image-ex-fid img{max-width:336px;}#block-views-Events-block_2 .views-field-field-image-ev-fid,#block-views-Exhibitions-block_2 .views-field-field-image-ex-fid{margin-top:22px;height:212px;}#block-views-Events-block_2 .views-field-field-sub-ev-value,#block-views-Exhibitions-block_2 .views-field-field-sub-ex-value,#block-views-Events-block_2 .views-field-field-museum-nid a,#block-views-Exhibitions-block_2 .views-field-field-museum-nid a{height:17px;color:#808285;}#block-views-Events-block_2 .views-field-title,#block-views-Exhibitions-block_2 .views-field-title{color:#58585A;}#block-views-Events-block_2 .views-field-name,#block-views-Exhibitions-block_2 .views-field-name{color:#C3C4C6;}#block-views-Events-block_2 .views-field-field-ev-date-value,#block-views-Exhibitions-block_2 .views-field-field-ex-begin-date-value,#block-views-Events-block_2 .views-field-field-hour-value,#block-views-Exhibitions-block_2 .views-field-field-ex-end-date-value{padding-top:3px;height:17px;display:inline;}#block-views-Events-block_2 .views-field-field-time-value{display:inline;}#block-views-Events-block_2 .views-field-field-ev-date-value,#block-views-Exhibitions-block_2 .views-field-field-ex-begin-date-value{margin-left:5px;display:inline;}#block-views-Events-block_2 .views-field-field-museum-nid,#block-views-Exhibitions-block_2 .views-field-field-museum-nid{margin-top:1px;height:17px;}#block-views-Events-block_2 .views-field-body,#block-views-Exhibitions-block_2 .views-field-body{margin-top:8px;height:104px;overflow-y:hidden;}#block-views-Events-block_2 .views-field-view-node,#block-views-Exhibitions-block_2 .views-field-view-node{clear:both;float:left;}#block-views-museum_news-block_1 .views-field-view-node,#block-views-union_news-block_2 .views-field-view-node{float:left;margin-top:8px;}#block-views-Events-block_2 .views-field-view-node a,#block-views-Exhibitions-block_2 .views-field-view-node a,#block-views-museum_news-block_1 .views-field-view-node a,#block-views-union_news-block_2 .views-field-view-node a{color:#E16842;background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev.png) no-repeat 0 1px;padding-left:26px;display:block;height:17px;}#block-views-Exhibitions-block_2 .item-list ul.pager li,#block-views-Events-block_2 .item-list ul.pager li{#float:right;float:right\9;}#block-views-Exhibitions-block_2 .item-list ul.pager li,#block-views-Events-block_2 .item-list ul.pager li,#block-views-Exhibitions-block_2 .item-list ul.pager li a,#block-views-Events-block_2 .item-list ul.pager li a,.item-list ul.pager li a,.item-list ul.pager li{color:#bcbdc0;text-decoration:none;font-size:14px;}.item-list ul.pager li.pager-current{font-weight:normal;}#block-views-Exhibitions-block_2 .item-list ul,#block-views-Events-block_2 .item-list ul{margin:17px 0 0 0;padding:0;}#block-views-Exhibitions-block_2 .item-list ul li,#block-views-Events-block_2 .item-list ul li{padding:0;margin:0;}#block-views-Exhibitions-block_2 .item-list ul li.pager-first,#block-views-Events-block_2 .item-list ul li.pager-first{background-position:center right;}#block-views-Exhibitions-block_2 .item-list ul li.pager-first a,#block-views-Events-block_2 .item-list ul li.pager-first a,#block-views-Exhibitions-block_2 .item-list ul li.pager-first span,#block-views-Events-block_2 .item-list ul li.pager-first span{padding-right:32px;#padding-right:0px;#padding-left:32px;}#block-views-Exhibitions-block_2 .item-list ul li.pager-previous,#block-views-Events-block_2 .item-list ul li.pager-previous{background-position:center right;margin-right:7px;}#block-views-Exhibitions-block_2 .item-list ul li.pager-previous a,#block-views-Events-block_2 .item-list ul li.pager-previous a,#block-views-Exhibitions-block_2 .item-list ul li.pager-previous span,#block-views-Events-block_2 .item-list ul li.pager-previous span{padding-right:30px;#padding-right:0px;#padding-left:25px;margin-left:14px;#margin-left:0px;#margin-right:14px;}#block-views-Exhibitions-block_2 .item-list ul li.pager-next,#block-views-Events-block_2 .item-list ul li.pager-next{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev.png) no-repeat;}#block-views-Exhibitions-block_2 .item-list ul li.pager-next.passive,#block-views-Events-block_2 .item-list ul li.pager-next.passive{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev_disabled.png) no-repeat;}#block-views-Exhibitions-block_2 .item-list ul li.pager-next a,#block-views-Events-block_2 .item-list ul li.pager-next a,#block-views-Exhibitions-block_2 .item-list ul li.pager-next span,#block-views-Events-block_2 .item-list ul li.pager-next span{margin-right:14px;#margin-right:0px;#margin-left:14px;padding-left:30px;#padding-left:0px;#padding-right:25px;}#block-views-Exhibitions-block_2 .item-list ul li.pager-last,#block-views-Events-block_2 .item-list ul li.pager-last{background:url(/sites/all/themes/blueprint/blueprint/images/two_chets_prev.png) no-repeat;}#block-views-Exhibitions-block_2 .item-list ul li.pager-last.passive,#block-views-Events-block_2 .item-list ul li.pager-last.passive{background:url(/sites/all/themes/blueprint/blueprint/images/two_chets_prev_disabled.png) no-repeat;}#block-views-Exhibitions-block_2 .item-list ul li.pager-last a,#block-views-Events-block_2 .item-list ul li.pager-last a,#block-views-Exhibitions-block_2 .item-list ul li.pager-last span,#block-views-Events-block_2 .item-list ul li.pager-last span{padding-left:32px;#padding-left:0px;#padding-right:32px;margin-right:5px;#margin-right:0px;#margin-left:5px;}#block-views-Exhibitions-block_2 .item-list ul li.pager-item,#block-views-Events-block_2 .item-list ul li.pager-item,#block-views-Exhibitions-block_2 .item-list ul li.pager-current,#block-views-Events-block_2 .item-list ul li.pager-current,#block-views-Exhibitions-block_2 .item-list ul li.pager-ellipsis,#block-views-Events-block_2 .item-list ul li.pager-ellipsis{display:none;margin-left:3px;#margin-right:3px;}#node-15 h1{display:none;}#block-views-articles_type-block_1,#block-views-articles_type-block_2{border:1px  dashed #e3e4e5;#padding-right:12px;padding-top:13px;margin-top:12px;font-family:"Shalvata_OEMedium",arial,sans-serif;}#block-views-articles_type-block_1 .views-row,#block-views-articles_type-block_2 .views-row{margin-right:13px;#margin-right:0px;margin-bottom:6px;}#block-views-articles_type-block_1 .views-row-last,#block-views-articles_type-block_2 .views-row-last{margin-bottom:12px;}#block-views-articles_type-block_1 h3,#block-views-articles_type-block_2 h3{background-color:#d93c20;color:#ffffff;width:129px;padding-right:6px;margin-right:12px;margin-bottom:7px;margin-top:0px;padding-bottom:1px;padding-top:2px;}#block-views-articles_type-block_1 .views-row .views-field-name a,#block-views-articles_type-block_2 .views-row .views-field-name a{color:#58585a;text-decoration:none;margin-right:6px;font-size:13px;}#block-views-articles_type-block_1 .views-row .views-field-name a.active,#block-views-articles_type-block_2 .views-row .views-field-name a.active{color:#72afaf;}#block-views-articles_type-block_1 .views-row .views-field-name,#block-views-articles_type-block_2 .views-row .views-field-name{background-color:#F5F4F3;margin-top:6px;padding-bottom:3px;padding-top:4px;width:135px;#padding-right:6px;#width:129px;}.view-articles{}.view-articles .view-content{background-color:#f5f4f3;padding-top:7px;padding-right:14px;}.view-articles div.view-header{color:#58585A;font-size:16px;font-family:"Shalvata_OELight",arial,sans-serif;background-color:#F5F4F3;padding-top:8px;padding-right:14px;}.view-articles .views-row{height:95px;padding-top:20px;}.view-articles .views-row-1{padding-top:0;}.view-articles .views-row-last{padding-bottom:10px;}.view-articles .views-field-field-summary-image-fid{float:right;width:215px;margin-left:24px;}.view-articles .views-field-title{float:right;width:403px;}.view-articles .views-field-title a{color:#58585a;text-decoration:none;font-weight:bold;}.view-articles .views-field-field-ar-creator-name-value,.view-articles .views-field-body,.view-articles .views-field-field-article-date-value{float:right;width:403px;}.view-articles .views-field-field-ar-creator-name-value,.view-articles .views-field-field-article-date-value{color:#58585a;margin-top:2px;}.view-articles .views-field-body{height:57px;line-height:1.5em;overflow:hidden;margin-top:4px;}.view-articles .views-field-view-node{float:right;width:20px;margin-top:41px;margin-right:30px;}.view-articles .views-field-name{display:none;}.view-articles .views-field-view-node a{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev.png) no-repeat;float:left;font-size:0px;height:16px;width:19px;color:#F5F4F3;}body.node-type-article .node .field-field-sub-title{color:#58585a;width:403px;}body.node-type-article .node .field-field-summary{color:#58585a;width:403px;float:right;}body.node-type-article .node .article_short_content{width:403px;float:right;}body.node-type-article .node #artile_images div.field-field-image-1{padding-top:6px;}body.node-type-article .node .field-field-image-1{float:left;}body.node-type-article .node .field-field-image-2{float:left;margin-top:15px;clear:both;}body.node-type-article .node .field-field-ar-creator-name{color:#58585a;width:403px;margin-top:4px;margin-bottom:4px;}body.node-type-article .node{padding-bottom:25px;}body.node-type-article .item-list ul li{/*\_*/}body.node-type-article .item-list ul li.pager-first{}body.node-type-article .item-list ul li.pager-previous{}body.node-type-article  .item-list ul li.pager-next{}body.node-type-article  .item-list ul li.pager-last{}#node-13 .marker,.form-required{display:none;}#block-views-union_news-block_2 .views-row{width:338px;float:right;height:160px;overflow:hidden;margin-right:16px;}#block-views-union_news-block_2 .views-row ol li{width:300px}#block-views-union_news-block_2 .views-row-3,#block-views-union_news-block_2 .views-row-4{margin-top:18px;}#block-views-union_news-block_2 .view-content{background-color:#F5F4F3;height:342px;}#block-views-union_news-block_2 .views-row .views-field-title span{color:#58585a;}#block-views-union_news-block_2 .views-row .views-field-body,#block-views-museum_news-block_1 .views-row .views-field-body{line-height:1.5em;height:94px;overflow-y:hidden;}#block-views-union_news-block_2 .item-list ul.pager{border:1px dashed #e3e4e5;margin:0;margin-top:10px;padding:6px 0 6px 0;#height:16px;height:16px\9;}#block-views-union_news-block_2 .item-list ul.pager li{}#node-13 h1{margin-top:4px;}#block-menu_block-1,#block-menu_block-2{font-family:"Shalvata_OELight",arial,sans-serif;border:1px dashed #DADCDD;margin:10px auto auto auto;width:161px;padding-bottom:5px;}#block-menu_block-1 .content ul,#block-menu_block-2 .content ul{list-style:none;width:132px;margin-right:14px;padding:0;}#block-block-9{border:1px dashed #DADCDD;height:169px;}#block-menu_block-1 h3,#block-menu_block-2 h3{background-color:#D93C20;color:#FFFFFF;margin-right:14px;padding-right:6px;width:126px;width:126px\9;#width:126px;margin-top:14px;margin-bottom:9px;font-size:14px;height:17px;height:19px\9;padding-top:3px;padding-top:4px\9;}#block-menu_block-1  ul li.leaf,#block-menu_block-2  ul li.leaf{background-color:#F5F4F3;color:#58585A;min-height:19px;margin:0;margin-bottom:9px;padding-right:6px;list-style-type:none;list-style-image:none;letter-spacing:-0.4px;list-style-position:outside;}#block-menu_block-1  ul li a:hover,#block-menu_block-1  ul li a.active,#block-menu_block-2  ul li a:hover,#block-menu_block-2  ul li a.active{color:#72afaf;cursor:pointer;}#block-menu_block-1  ul li a,#block-menu_block-2  ul li a{text-decoration:none;margin-top:2px;#margin-top:5px;color:#58585A;display:block;font-size:13px;font-size:12px\9;#font-size:12px;}#node-55 h1,#node-56 h1,#node-57 h1,#node-58 h1{display:none;}.item-list ul.pager li{padding:0;margin:0;#float:right;float:right\9;}.item-list ul li.pager-first{background:url(/sites/all/themes/blueprint/blueprint/images/two_chets_next.png) no-repeat  right center;}.item-list ul li.pager-first.passive{background:url(/sites/all/themes/blueprint/blueprint/images/two_chets_next_disabled.png) no-repeat  right center;}.item-list ul li.pager-first a,.item-list ul li.pager-first span{padding-right:35px;#padding-right:0px;#padding-left:30px;}.item-list ul li.pager-previous{margin-right:6px;#margin-left:12px;background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_next_disabled.png) no-repeat  right center;margin-left:13px;#margin-right:12px;}.item-list ul li.pager-previous > a.active{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_next.png) no-repeat  right center;}.item-list ul li.pager-previous a,.item-list ul li.pager-previous span{padding-right:29px;#padding-right:0px;#padding-left:23px;}.item-list ul li.pager-next{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev.png) no-repeat 0 0;margin-right:18px;#margin-right:18px;#margin-left:0px;}.item-list ul li.pager-next.passive{background:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev_disabled.png) no-repeat 0 0;}.item-list ul li.pager-next a,.item-list ul li.pager-next span{padding-left:29px;#padding-left:0px;#padding-right:28px;}.item-list ul li.pager-last{background:url(/sites/all/themes/blueprint/blueprint/images/two_chets_prev.png) no-repeat 0 0;margin-right:6px;#margin-right:18px;#margin-left:0px;}.item-list ul li.pager-last.passive{background:url(/sites/all/themes/blueprint/blueprint/images/two_chets_prev_disabled.png) no-repeat 0 0;}.item-list ul li.pager-last a,.item-list ul li.pager-last span{padding-left:36px;#padding-left:0px;#padding-right:32px;}.item-list ul li.pager-item,.item-list ul li.pager-current{margin-right:4px;#margin-right:0px;#margin-left:4px;}body.node-type-article .item-list ul.pager,#block-views-museum_news-block_1 .item-list ul.pager,.view-articles .item-list ul.pager{border:1px dashed #E3E4E5;margin:12px 0 0;padding:9px 0 6px;height:20px;padding-right:20px\9;padding-right:10px;}#block-views-museum_news-block_1 .view-content,#block-views-museum_news-block_1 h3{background-color:#F5F4F3;}#block-views-museum_news-block_1  .views-row{float:right;height:142px;margin:0 16px 25px;overflow-y:hidden;width:328px;}#block-views-museum_news-block_1 .views-row-even{float:left;}#block-views-museum_news-block_1{margin-top:-4px;}#block-views-union_news-block_2{margin-top:-9px;}#block-views-museum_news-block_1 .view-content{height:329px;}#block-views-museum_news-block_1 .views-row .views-field-field-museum-logo-fid{float:right;width:66px;height:60px;}#block-views-museum_news-block_1 .views-row .views-field-title,#block-views-museum_news-block_1 .views-row .views-field-body{float:right;overflow:hidden;}#block-views-museum_news-block_1 .views-row .views-field-title,#block-views-union_news-block_2 .views-row .views-field-title{height:17px;font-weight:bold;overflow-y:hidden;}#block-views-museum_news-block_1 .views-row .views-field-title span,#block-views-union_news-block_2 .views-row .views-field-title span{color:#58585A;}#node-46{}#node-46 h1{}#block-views-articles_type-block_3,div.view-services-by-areas,div.view-museum-table,#finder-page-4 .view-search-results{background-color:#F5F4F3;padding-bottom:14px;padding-right:14px;padding-left:14px;}#finder-page-4 .view-search-results .view-header{padding-top:7px;}div.view-museum-table{padding-bottom:40px;}#block-views-articles_type-block_3{padding-top:16px;}#block-views-articles_type-block_3 table,div.view-museum-table table,#finder-page-4 .view-search-results table{width:100%;}#finder-page-4 .view-search-results table{margin-top:10px;}#block-views-articles_type-block_3 thead th{border-bottom:none;border:none;}#block-views-articles_type-block_3 thead,div.view-services-by-areas thead,div.view-museum-table thead,#finder-page-4 .view-search-results thead{height:57px;}#block-views-articles_type-block_3 thead th.views-field-name,div.view-services-by-areas thead th,div.view-museum-table thead th,#finder-page-4 .view-search-results thead th,#finder-page-4 .view-search-results thead th.views-field-view-node,#block-views-articles_type-block_3 thead th.views-field-name-1{border:none;text-align:right;padding:0;color:#58585a;}#block-views-articles_type-block_3 thead th.views-field-name div,#block-views-articles_type-block_3 thead th.views-field-name-1 div,div.view-services-by-areas thead th div,div.view-museum-table th div,#finder-page-4 .view-search-results thead th.views-field-field-address-value div,#finder-page-4 .view-search-results thead th.views-field-field-museum-name-value div,#finder-page-4 .view-search-results thead th.views-field-tid div,#finder-page-4 .view-search-results thead th.views-field-view-node div{background-color:#ffffff;padding-top:19px;padding-bottom:15px;margin-right:3px;margin-left:3px;margin-bottom:3px;margin-top:3px;padding-right:8px;}#block-views-articles_type-block_3 thead th.views-field-name div{padding-top:26px;padding-bottom:26px;}#block-views-articles_type-block_3 thead th.views-field-name-1 div{padding-bottom:26px;padding-top:26px;}#block-views-articles_type-block_3 td.views-field-name,#block-views-articles_type-block_3 td.views-field-name-1,#block-views-articles_type-block_3 thead th.views-field-name,#block-views-articles_type-block_3 thead th.views-field-name-1,div.view-services-by-areas td,div.view-services-by-areas thead th,div.view-museum-table td,div.view-museum-table thead th,#finder-page-4 .view-search-results td.views-field-field-address-value,#finder-page-4 .view-search-results td.views-field-field-museum-name-value,#finder-page-4 .view-search-results td.views-field-tid,#finder-page-4 .view-search-results th.views-field-field-address-value,#finder-page-4 .view-search-results th.views-field-field-museum-name-value,#finder-page-4 .view-search-results th.views-field-tid,#finder-page-4 .view-search-results thead th.views-field-view-node,#finder-page-4 .view-search-results td.views-field-view-node{border-top:1px solid #dadbdc;border-right:1px solid #dadbdc;}div.view-museum-table thead th.views-field-view-node,div.view-museum-table td.views-field-view-node,#finder-page-4 .view-search-results th.views-field-view-node,#finder-page-4 .view-search-results thead th.views-field-view-node{border-left:1px solid #dadbdc;}#block-views-articles_type-block_3 td.views-field-name{width:68%;}#block-views-articles_type-block_3 td,div.view-services-by-areas td,div.view-museum-table td,#finder-page-4 .view-search-results td{padding:0 10px 0 10px;font-size:12px;}div.view-services-by-areas td{}div.view-services-by-areas td.views-field-field-email-value,div.view-services-by-areas td.views-field-field-site-value,div.view-services-by-areas thead th.views-field-field-site-value{text-align:center;}div.view-services-by-areas td.views-field-field-site-value,div.view-services-by-areas thead th.views-field-field-site-value{border-left:1px solid #DADBDC;}div.view-services-by-areas td.views-field-field-email-value a,div.view-services-by-areas td.views-field-field-site-value a{color:#D93C20;}div.view-services-by-areas .view-header h1,div.view-museum-table .view-header{color:#58585A;font-size:16px;margin-bottom:7px;padding-top:10px;font-family:"Shalvata_OELight",arial,sans-serif;}div.view-services-by-areas .articles_type_des{margin-bottom:7px;}div.view-museum-table .view-header span{color:#72afaf;}#block-views-articles_type-block_3 td.views-field-name-1,#block-views-articles_type-block_3 thead th.views-field-name-1,div.view-museum-table td.views-field-view-node{padding-left:0px;border-left:1px solid #DADBDC;}div.view-museum-table td.views-field-view-node,#finder-page-4 .view-search-results td.views-field-view-node{padding-right:0;width:15%;padding-left:0;border-left:1px solid #dadbdc;}table tr.views-row-last td{border-bottom:1px solid #dadbdc;}div.view-museum-table td.views-field-view-node a,#finder-page-4 .view-search-results td.views-field-view-node a{background:url(/sites/all/themes/blueprint/blueprint/images/own_cetz.png) no-repeat;background-position:left center;color:#f5f4f3;height:36px;display:block;font-size:0;width:19px;margin:auto;}#block-views-articles_type-block_3 table tbody,div.view-museum-table table tbody,#finder-page-4 .view-search-results table tbody{border-top:none;}#block-views-articles_type-block_3 tr.even,#block-views-articles_type-block_3 tr.odd,div.view-services-by-areas tr.even,div.view-services-by-areas tr.odd,div.view-museum-table tr,#finder-page-4 .view-search-results tr{border-bottom:none;background-color:inherit;height:46px;#background-color:#F5F4F3;}div.view-services-by-areas table{width:100%;}div.for_table_0{float:right;width:335px;}div.for_table_1{float:left;width:335px;}div.clear{clear:both;height:0px;}li.expanded-t{font-weight:normal;}.site-map-box ul+ul li.last{display:none;}#site-map li.leaf,#site-map li.expanded,.site-map-menus h2{font-weight:bold;padding-top:10px;}#site-map li.leaf,#site-map li.expanded,#site-map li.expanded-t{list-style-type:none;list-style-image:none;}#site-map li.expanded li.expanded{font-weight:normal;}#site-map li a.active{color:#58585A;}#site-map li.expanded,#site-map li.expanded-t{padding-top:10px;}#site-map li.expanded ul li.leaf{font-weight:normal;padding-top:0;}#site-map li.expanded .views-row a,#site-map li.expanded-t .views-row a,#site-map li.expanded-t ul li.leaf a{font-weight:bold;text-decoration:none;}#site-map li.expanded-t ul li.leaf{padding-top:0;}#site-map a{text-decoration:underline;}#block-block-15{clear:both;height:407px;margin:auto;}.museum_ul,#s_ar,.site-map-menus,.site-map-taxonomys{float:right;width:30%;}.site-map-menus{margin-right:13px;}.museum_ul,#s_ar{}#site-map .site-map-box{margin-bottom:0;}body.page-sitemap .col-center{background-color:#F5F4F3;padding-bottom:13px;}#node-59 .image,#node-21 .image{float:right;padding-right:0;padding-top:0;margin-top:0;}#node-59 .image .about_img+.about_img+.about_img img,#node-21 .image .about_img+.about_img+.about_img img{padding-bottom:0;}#page-21 div.col-center,#page-59 div.col-center{width:100%;margin-right:0;}#node-21,#node-59{padding:0;background-color:transparent;}#page-21 #block-nice_menus-1 ul#nice-menu-1 li,#page-59 #block-nice_menus-1 ul#nice-menu-1 li,.i18n-en #block-nice_menus-1 ul#nice-menu-1 li{}#page-21 #block-nice_menus-1 ul#nice-menu-1 li.left,#page-59 #block-nice_menus-1 ul#nice-menu-1 li.left,.i18n-en #block-nice_menus-1 ul#nice-menu-1 li.left{float:right;}#page-21 ul.nice-menu-down,#page-59 ul.nice-menu-down,.i18n-en ul.nice-menu-down{float:none;}.about_img img{padding-bottom:9px;}body.i18n-he .about_img img{padding-bottom:2px;}#node-21 .content,#node-59 .content{min-height:568px;background-color:#F5F4F3;float:left;padding:14px 15px 15px;width:691px;}#node-21 table,#node-59 table{border-collapse:separate;}#node-59 table tr td+td{padding-right:18px;}#node-21 table tr td+td{padding-left:18px;}.text_inf{display:none;}.page_my_images{padding-bottom:5px;}.page_my_images .image{width:auto;padding:0px;margin-top:4px;}.page_my_images .content{float:right;width:334px;}.page_my_images .content h1{margin-bottom:6px;font-size:16px;font-family:"Shalvata_OELight";}#node-21 .content h1{font-family:arial;font-weight:bold;}#wowslider-container1{position:relative;#position:static;}.ws_images{position:absolute;}.ws_images div{display:none;}.ws_images a[href="#"]{cursor:default;}#block-views-home_banners-block_1{clear:both;margin-top:10px;float:left;}#block-block-18{clear:both;height:407px;margin:auto;}#block-block-18+#block-nice_menus-1{margin-top:-64px;}#icom-slogan{position:absolute;right:0px;top:59px;width:400px;padding:10px;background:rgba(256,256,256,0.8);}#block-views-museum_header-block_2 #icom-slogan{top:19px;}#museum_gallery{float:left;width:721px;height:125px;#height:126px;background-color:#F5F4F3;margin-top:10px;#margin-top:14px;}#museum_gallery .jcarousel-prev-disabled{background-image:url(/sites/all/themes/blueprint/blueprint/images/one_chets_next_disabled.png);}#museum_gallery .jcarousel-next-disabled{background-image:url(/sites/all/themes/blueprint/blueprint/images/one_chets_prev_disabled.png);}#preview{position:absolute;padding:5px;display:none;color:#fff;}a.preview{cursor:default;}#node-42 h2{font-family:arial,sans-serif;}#block-openx-0{float:left;margin-top:10px;}#finder-page-5 .view-header p,#finder-page-4 .view-header p{font-family:"Shalvata_OEMedium",arial,sans-serif;font-size:16px;color:#58585A;}.bg_primary_menu{background-color:#D93D20;height:39px;position:absolute;top:390px;width:100%;}#node-36{padding-bottom:10px;}#popup{width:300px;height:300px;}#node-55,#node-56,#node-57,#node-58{display:none;}li{list-style-position:outside;}ul li{margin-right:12px;}ol li{margin-right:16px;}html.js a.views-throbbing,html.js span.views-throbbing{padding-right:0;background:none;}ul li.collapsed{list-style-image:none;list-style-type:none;}body.page-finder h2{font-size:16px;margin:10px 14px 5px;font-family:"Shalvata_OELight",arial,sans-serif;}body.page-finder .col-center-finder{background-color:#F5F4F3;}#finder-page-5{padding-right:14px;padding-bottom:14px;}table tbody{border:none;}table tbody td{padding-left:0px;}.views-row .views-field-field-sub-ev-value span.field-content,#block-views-Exhibitions-block_1 .views-row .views-field-field-sub-ex-value span.field-content,#block-views-Exhibitions-block_1 .view-content .views-row .views-field-field-museum-nid a,#block-views-Events-block_1 .view-content .views-row .views-field-field-museum-nid a{color:#808285;}body.i18n-en #node-21{direction:ltr;}#page-13 #block-menu_block-2{margin-top:0px;}#node-21{margin-top:1px;}#lightbox2-overlay,#lightbox{cursor:pointer;}#block-views-Events-block_2 ul.pager,#block-views-Exhibitions-block_2 ul.pager{#margin-right:30px;margin-right:30px\9;}@media screen and (-webkit-min-device-pixel-ratio:0) {#block-menu_block-1  ul li a,#block-menu_block-2  ul li a{font-size:12px;}#block-simplenews-55 input[type="submit"]{padding-top:2px;padding-bottom:1px;}.not-front #node-13 #webform-client-form-13 #edit-submit{margin-top:-15px;margin-bottom:12px;}#block-finder-finder_5 input.form-submit,#block-finder-finder_4 input.form-submit{padding-top:2px;padding-bottom:1px;}#node-13 .content{height:318px;}}.imagecache-field_image_ex-exebition_event_page,.imagecache-field_image_ev-exebition_event_page{float:left;margin:0 15px 15px 0;}body.node-type-events .field-field-hour,body.node-type-taarucot .field-field-ex-begin-date{float:right;margin-left:2px;}body.node-type-events .field-field-time{width:32px;display:inline;}.articles_text,.view-articles .view-footer{background-color:#F5F4F3;margin-top:12px;font-size:14px;padding:20px 14px 35px 24px;}#node-237 h1{display:none;}
